@import '../../../styles/colors.scss';
@import '../../../styles/table.scss';

:host {
  width: 72%;

  .shelf-number {
    border-right: 1px solid $color-gray-1;

    &:last-of-type {
      border-bottom: none;
    }
  }
}
