<table>
    <thead>
        <tr>
            <th>Полка</th>
            <th>Ряды</th>
            <th>Всего книг</th>
            <th>Книги</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let shelf of vault?.shelfs; let shelfNumber = index">
            <tr>
                <td class="shelf-number center-text"
                    [attr.rowspan]="shelf.rows?.length+1">
                    {{shelfNumber + 1}}
                </td>
            </tr>
            <tr class="rows"
                *ngFor="let row of shelf.rows; let rowNumber = index">
                <td class="center-text">
                    {{rowNumber + 1}}
                </td>
                <td class="center-text">{{row.books?.length}}</td>
                <td>
                    <ul *ngIf="row.books?.length; else emptyBlock">
                        <li *ngFor="let book of row.books">
                            {{book.name}}, {{book.author}}
                        </li>
                    </ul>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>

<ng-template #emptyBlock>В ряду нет книг</ng-template>