@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import './styles/forms.scss';
@import './styles/buttons.scss';
@import './styles/icomoon-v1.0/style.scss';
@import './styles/table.scss';

* {
    font-family: 'Roboto', sans-serif;

    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

body {
    margin: 0;
    padding: 0;

    background-color: $color-background;
}

ul,
li {
    padding-left: 0;

    list-style: none;
}
