<div class="modal__modal">
  <header class="modal__header">
    <h3>{{ modalTitle }}</h3>
    <button class="modal__btn--close"
            *ngIf="isShowCloseBtn"
            (click)="closeDialog()">
      <i class="icon icon-cross"></i>
    </button>
  </header>

  <ng-content *ngTemplateOutlet="bodyComponent"></ng-content>

  <div class="modal__footer">
    <app-button [class]="'contained'"
                *ngIf="isShowConfirmBtn"
                [title]="confirmText"
                (click)="onConfirmClick()">
    </app-button>
  </div>
</div>