<aside class="side-menu">
   <app-button class="side-menu__button" [title]="'Добавить'"></app-button>
    <nav>
        <ul>
            <li *ngFor="let menuItem of menu">
                <span [routerLink]="menuItem.route">{{menuItem.name}}</span>
                <ul *ngIf="menuItem.items">
                    <li *ngFor="let item of menuItem.items">
                        <span [routerLink]="menuItem.route + '/' + item.route">{{item.name}}</span>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</aside>