:host {
    display: flex;

    .app {
        &__content {
            display: flex;
            flex-direction: column;
            align-self: flex-end !important;
            width: 80%;
            margin-left: auto;
            padding: 0 4rem;

            router-outlet {
                padding-top: 5rem;
            }
        }
    }
}
