<form (ngSubmit)="book ? updateBook(book, bookPhoto) : createBook(bookPhoto)"
      [formGroup]="bookForm">

    <div class="form-group">
        <label for="bookName">Название</label>
        <input formControlName="name"
               type="text"
               id="bookName"
               placeholder="Название книги"
               required>
    </div>

    <div class="form-group">
        <label for="bookAuthor">Автор</label>
        <input formControlName="author"
               type="text"
               id="bookAuthor"
               placeholder="Автор книги"
               required>
    </div>

    <div class="form-group">
        <label for="bookDescription">Описание</label>
        <textarea formControlName="description"
                  id="bookDescription"
                  cols="30"
                  rows="5"
                  placeholder="Описание книги">
        </textarea>
    </div>

    <div class="form-group">
        <label for="vault">Хранилище</label>
        <select formControlName="vault"
                id="vault">
            <option [value]="null"
                    selected>
                Не выбрано
            </option>
            <option *ngFor="let vault of vaults"
                    [value]="vault.id">
                {{vault.name}}
            </option>
        </select>
    </div>

    <ng-container *ngIf="isShowVaultsFields">
        <div *ngIf="currentVault">
            <div class="form-group">
                <label for="shelf">Выберите полку</label>
                <select formControlName="shelf"
                        id="shelf">
                    <option *ngFor="let shelf of currentVault.shelfs; let shelfIndex = index"
                            [value]="shelfIndex + 1">
                        {{shelfIndex + 1}}
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label for="row">Выберите ряд</label>
                <select id="row"
                        formControlName="row">
                    <option *ngFor="let row of currentVault.shelfs[0].rows; let rowIndex = index"
                            [value]="rowIndex + 1">
                        {{rowIndex + 1}}
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label for="number">Какой по порядку будет располагаться книга?</label>
                <select id="number"
                        formControlName="number">
                    <option *ngFor="let number of maxBooksOnShelfArray"
                            [value]="number + 1">
                        {{number + 1}}
                    </option>
                </select>
            </div>
        </div>
    </ng-container>

    <div class="form-group">
        <label for="status">На месте ли книга?</label>
        <select id="status"
                formControlName="status">
            <option *ngFor="let status of statuses"
                    [value]="status.value">
                {{status.text}}
            </option>
        </select>
    </div>

    <div *ngIf="isShowReasonOfMissingField"
         class="form-group">
        <label for="reasonOfMissing">Причина отсутствия</label>
        <textarea formControlName="reasonOfMissing"
                  id="reasonOfMissing"
                  cols="30"
                  rows="5"
                  placeholder="Причина отсутствия">
        </textarea>
    </div>

    <div>
        <label for="tag">Создать тег</label>
        <input id="tag"
               placeholder="Название нового тега"
               type="text"
               [formControl]="inputTag">
        <app-button [title]="'Добавить'"
                    [class]="'outlined'"
                    [disabled]="!inputTag.value"
                    (click)="createTag(inputTag.value)">
        </app-button>
    </div>

    <div class="form-group">
        <label for="tags">Теги</label>
        <select id="tags"
                formControlName="tags"
                multiple>
            <option *ngFor="let tag of tags"
                    [value]="tag">
                {{tag.name}}
            </option>
        </select>
    </div>

    <div class="form-group">
        <label for="file">Выбрать фото</label>
        <input type="file"
               id="file"
               class="book-form__preview-input"
               #bookPhoto
               name="image"
               (change)="onImageSelected($event, bookPhoto)"
               autocomplete="off" />
    </div>
    <div #imageBlock
         *ngIf="previewBook || book?.url">
        <img [src]="previewBook || book?.url"
             class="book-form__preview"
             alt="preview book cover photo"
             (error)="imageBlock.style.display = 'none'">
        <i class="icon icon-bin"
           (click)="onDeletePhoto(bookPhoto)"
           [title]="'Удалить'">
        </i>
    </div>


    <app-button [class]="'contained'"
                [title]="book ? 'Сохранить' : 'Добавить'"
                [disabled]="bookForm.invalid">
    </app-button>
</form>