<table>
    <thead>
        <tr>
            <th>Название хранилища</th>
            <th>Описание хранилища</th>
            <th>Полки</th>
            <th>Ряды</th>
            <th>Книги</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vault of filteredVaults"
            [routerLink]="vault?.id">
            <td>{{vault?.name}}</td>
            <td>{{vault?.description}}</td>
            <td>{{vault?.numShelfs}}</td>
            <td>{{vault?.numRows}}</td>
            <td>{{vault?.books.length}}</td>
        </tr>
    </tbody>
</table>

<router-outlet></router-outlet>