<!-- <table>
    <thead>
        <tr>
            <th>Название хранилища</th>
            <th>Описание хранилища</th>
            <th>Полки</th>
            <th>Ряды</th>
            <th>Книги</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vault of filteredVaults">
            <td [routerLink]="vault?.id">{{vault?.name}}</td>
            <td [routerLink]="vault?.id">{{vault?.description}}</td>
            <td [routerLink]="vault?.id">{{vault?.numShelfs}}</td>
            <td [routerLink]="vault?.id">{{vault?.numRows}}</td>
            <td [routerLink]="vault?.id">{{vault?.books.length}}</td>
            <td>
                <app-button [class]="'outlined'"
                            [title]="'Редактировать'"></app-button>
            </td>
            <td>
                <app-button [class]="'outlined'"
                            (click)="deleteVault(vault?.id)"
                            [title]="'Удалить'"></app-button>
            </td>
        </tr>
    </tbody>
</table> -->

<div class="vault-details"
     *ngFor="let vault of filteredVaults">
    <h3 class="vault-details__title">Информация о хранилище</h3>
    <div class="vault-details__content">
        <div [routerLink]="vault?.id">
            <span>Название: </span>
            <span>{{vault?.name}}</span>
        </div>
        <div [routerLink]="vault?.id">
            <span>Описание: </span>
            <span>{{vault?.description}}</span>
        </div>
        <div [routerLink]="vault?.id">
            <span>Полки: </span>
            <span>{{vault?.numShelfs}}</span>
        </div>
        <div [routerLink]="vault?.id">
            <span>Ряды: </span>
            <span>{{vault?.numRows}}</span>
        </div>
        <div [routerLink]="vault?.id">
            <span>Книги: </span>
            <span>{{vault?.books.length}}</span>
        </div>
    </div>

    <div class="vault-details__footer">
        <i class="icon icon-pencil"
           (click)="toggleEditDialog(vault)"
           [title]="'Редактировать'">
        </i>
        <i class="icon icon-bin"
           (click)="toggleDeletingDialog(vault)"
           [title]="'Удалить'">
        </i>
    </div>
</div>

<router-outlet></router-outlet>

<app-modal *ngIf="isUpdatingDialogOpened"
           [isShowCloseBtn]="true"
           [modalTitle]="'Редактирование хранилища'"
           [bodyComponent]="editVault"
           (close)="toggleEditDialog()">
    <ng-template #editVault>
        <app-vault-form (success)="toggleEditDialog()"
                        [vault]="filteredVaults[0]"></app-vault-form>
    </ng-template>
</app-modal>

<app-modal *ngIf="isDeletingDialogOpened"
           [isShowCloseBtn]="true"
           [modalTitle]="'Удаление книги'"
           [bodyComponent]="deletingVault"
           [confirmText]="'Удалить'"
           [isShowConfirmBtn]="true"
           (close)="toggleDeletingDialog()"
           (confirm)="deleteVault()">
    <ng-template #deletingVault>
        Вы уверены, что хотите удалить хранилище "{{vault?.name}}"?
    </ng-template>
</app-modal>