@import '../../styles/table.scss';
@import '../../styles/colors.scss';

:host {
  .icon {
    cursor: pointer;

    &-bin {
      margin-left: 0.6rem;
    }

    &-error {
      color: $color-danger;
    }

    &-check_circle {
      color: $color-success;
    }
  }

  .books {
    &__header,
    &__table {
      margin-bottom: 1rem;
    }

    &__table {
      height: 50vh;
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;

    .icon-navigate {
      &-before {
        margin-right: 0.5rem;
      }
      &_next {
        margin-left: 0.5rem;
      }
    }

    &__page-selector {
      margin-right: 1rem;
    }

    &__paginator {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 10rem;
    }

    &__btns {
      display: flex;
    }

    &__btn {
      padding: 0.1rem 0.4rem;

      background-color: transparentize(
      $color: $color-menu-item-checked,
      $amount: 0.7
      );
      cursor: pointer;
    }

    &__btn-with-ellipsis {
      display: flex;
    }

    .currentPage {
      text-align: center;
      color: $color-white;

      background-color: $color-primary;
    }

    .disabled {
      color: $color-menu-item-checked;

      cursor: default;
    }

    .ellipsis {
      padding: 0 0.5rem;
    }
  }
}
