<table>
    <thead>
        <tr>
            <th>Название</th>
            <th>Автор</th>
            <th>Описание</th>
            <th>Хранилище</th>
            <th>Полка</th>
            <th>Ряд</th>
            <th>Номер</th>
            <th>Статус</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books$ | async">
            <td>{{book?.name}}</td>
            <td>{{book?.author}}</td>
            <td>{{book?.description}}</td>
            <td [routerLink]="['..', 'vault', book?.vault?.id]">{{book?.vault?.name || '-'}}</td>
            <td>{{book?.shelf}}</td>
            <td>{{book?.row}}</td>
            <td>{{book?.number}}</td>
            <td>{{book?.status}}</td>
            <td>
                <app-button [title]="'Редактировать'"></app-button>
            </td>
            <td>
                <app-button (click)="deleteBook(book?.id)"
                            [title]="'Удалить'"></app-button>
            </td>
        </tr>
    </tbody>
</table>