<table>
    <thead>
        <tr>
            <th>Название</th>
            <th>Автор</th>
            <th>Описание</th>
            <th>Хранилище</th>
            <th>Полка</th>
            <th>Ряд</th>
            <th>Номер</th>
            <th>Статус</th>
            <th>Теги</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books$ | async">
            <td>{{book?.name}}</td>
            <td>{{book?.author}}</td>
            <td>{{book?.description}}</td>
            <td [routerLink]="['..', 'vault', book?.vault?.id]">{{book?.vault?.name || '-'}}</td>
            <td>{{book?.shelf}}</td>
            <td>{{book?.row}}</td>
            <td>{{book?.number}}</td>
            <td>{{book?.status}}</td>
            <td>
                <span *ngFor="let tag of book.tags; let lastTag = last">
                    {{tag.name}}{{lastTag ? '' : ','}}
                </span>
            </td>
            <td>
                <app-button [class]="'outlined'"
                            [title]="'Редактировать'"
                            (click)="openEditDialog(book)">
                </app-button>
            </td>
            <td>
                <app-button [class]="'outlined'"
                            (click)="deleteBook(book?.id)"
                            [title]="'Удалить'">
                </app-button>
            </td>
        </tr>
    </tbody>
</table>

<app-modal *ngIf="book"
           [isShowCloseBtn]="true"
           [modalTitle]="'Редактирование книги'"
           [bodyComponent]="editBook"
           (close)="book = null">
    <ng-template #editBook>
        <app-book-form [book]="book"></app-book-form>
    </ng-template>
</app-modal>