@import '../../styles/table.scss';
@import '../../styles/colors.scss';
@import '../../styles/shapes.scss';

:host {
  .icon {
    cursor: pointer;

    &-bin {
      margin-left: 0.6rem;
    }
  }

  .pagination {
    display: flex;
    justify-content: space-between;
    width: 7rem;

    &__btn {
      width: 1rem;

      cursor: pointer;
    }

    .currentPage {
      text-align: center;
      color: $color-white;

      background-color: $color-primary;
      border-radius: $border-radius;
    }

    .disabled {
      color: $color-menu-item-checked;

      cursor: default;
    }
  }
}
