<div class="books__header">
    <i class="icon icon-file_download"
       title="Импортировать книги">
    </i>
    <input type="file"
           hidden
           id="importBooks"
           (change)="onChangeImportFile($event)"
           #inputFile>
    <i class="icon icon-file_upload"
       title="Экспортировать книги"
       (click)="onExportBooks(exportLink)">
    </i>
    <a hidden
       #exportLink>
    </a>
    <span>
        Всего книг: {{books.length}}
    </span>
    <span>
        Отображено книг: {{filteredBooks.length}}
    </span>
</div>

<form [formGroup]="filtersForm">
    <table class="books__table">
        <thead>
            <tr>
                <th class="left-text">№</th>
                <th class="left-text">Название</th>
                <th>Автор</th>
                <th>Описание</th>
                <th>
                    Хранилище
                    <select name="vault"
                            formControlName="vault">
                        <option [value]="ALL"
                                selected>
                            Все
                        </option>
                        <option value="withoutVault">Без хранилища</option>
                        <option value="withVault">Только в хранилище</option>
                        <option *ngFor="let vault of vaults"
                                [value]="vault.id">
                            {{vault.name}}
                        </option>
                    </select>
                </th>
                <th>Полка</th>
                <th>Ряд</th>
                <th>Номер</th>
                <th>
                    Статус
                    <select name="status"
                            formControlName="status">
                        <option [value]="ALL"
                                selected>Все</option>
                        <option value="inPlace">На месте</option>
                        <option value="missing">Отсутствуют</option>
                    </select>
                </th>
                <th>
                    Теги
                    <select name="tags"
                            formControlName="tags">
                        <option [value]="ALL"
                                selected>
                            Все
                        </option>
                        <option *ngFor="let tag of tags"
                                [value]="tag.name">
                            {{tag.name}}
                        </option>
                    </select>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of booksOnCurrentPage; let bookIndex = index">
                <td>{{bookIndex + 1}}</td>
                <td class="left-text">{{book?.name || '-'}}</td>
                <td>{{book?.author || '-'}}</td>
                <td>{{book?.description || '-'}}</td>
                <td [routerLink]="book?.vault?.id ? ['..', 'vault', book?.vault?.id] : '.'">
                    {{book?.vault?.name || '-'}}
                </td>
                <td>{{book?.shelf || '-'}}</td>
                <td>{{book?.row || '-'}}</td>
                <td>{{book?.number || '-'}}</td>
                <td>
                    <i *ngIf="book?.status === 'inPlace'; else missingBook"
                       class="icon icon-check_circle"
                       [title]="'На месте'">
                    </i>
                    <ng-template #missingBook>
                        <i class="icon icon-error"
                           [title]="'Отсутствует'">
                        </i>
                    </ng-template>
                </td>
                <td>
                    <span *ngFor="let tag of book.tags; let lastTag = last">
                        {{tag.name}}{{lastTag ? '' : ','}}
                    </span>
                </td>
                <td>
                    <i class="icon icon-pencil"
                       (click)="onToggleEditDialog(book)"
                       [title]="'Редактировать'">
                    </i>
                    <i class="icon icon-bin"
                       (click)="onToggleDeletingDialog(book)"
                       [title]="'Удалить'">
                    </i>
                </td>
            </tr>
        </tbody>
    </table>
</form>

<div class="pagination"
     *ngIf="pages.length > 1">
    <div class="pagination__page-selector">
        <label for="currentPage">
            Выбрать страницу:
        </label>
        <select [formControl]="currentPage"
                id="currentPage">
            <option *ngFor="let page of pages"
                    [ngValue]="page"
                    [selected]="page === currentPage.value">
                {{page}}
            </option>
        </select>
    </div>
    <div class="pagination__paginator">
        <i class="icon icon-navigate_before"
           [class.disabled]="currentPage.value === DEFAULT_START_PAGE"
           (click)="currentPage.value === DEFAULT_START_PAGE ? '' : onChangeCurrentPage(null, PaginationArrowsActions.DEC)"
           [title]="'Предыдущая страница'">
        </i>

        <div class="pagination__btns">
            <div class="pagination__btn"
                 *ngFor="let page of pages; let index = page;"
                 (click)="onChangeCurrentPage(page)"
                 [class.currentPage]="currentPage.value === page">
                {{page}}
            </div>
        </div>

        <i class="icon icon-navigate_next"
           [class.disabled]="currentPage.value ===  pages.length"
           (click)="currentPage.value === pages.length ? '' : onChangeCurrentPage(null, PaginationArrowsActions.INC)"
           [title]="'Следующая страница'">
        </i>
    </div>
</div>

<app-modal *ngIf="isUpdatingDialogOpened"
           [isShowCloseBtn]="true"
           [modalTitle]="'Редактирование книги'"
           [bodyComponent]="editBook"
           (close)="onToggleEditDialog()">
    <ng-template #editBook>
        <app-book-form [book]="book"
                       (success)="onToggleEditDialog()">
        </app-book-form>
    </ng-template>
</app-modal>

<app-modal *ngIf="isDeletingDialogOpened"
           [isShowCloseBtn]="true"
           [modalTitle]="'Удаление книги'"
           [bodyComponent]="deletingBook"
           [confirmText]="'Удалить'"
           [isShowConfirmBtn]="true"
           (close)="onToggleDeletingDialog()"
           (confirm)="onDeleteBook()">
    <ng-template #deletingBook>
        Вы уверены, что хотите удалить книгу "{{book?.name}}"?
    </ng-template>
</app-modal>