<aside class="side-menu">
    <div class="side-menu__top-block">
        <app-button class="side-menu__button"
                    [class]="'outlined'"
                    [title]="'Добавить'"
                    (click)="toggleModal()">
        </app-button>
        <nav>
            <ul>
                <li class="outer-menu-item"
                    *ngFor="let menuItem of menu">
                    <span class="outer-menu-item__text"
                          [routerLink]="menuItem.route">
                        {{menuItem.name}}
                    </span>
                    <ul *ngIf="menuItem.items">
                        <li class="nested-menu-item"
                            *ngFor="let item of menuItem.items"
                            [routerLink]="[menuItem.route, item.route]"
                            [class.checked]="isNestedMenuItemChecked(item.route)">
                            <span class="nested-menu-item__text">
                                {{item.name}}
                            </span>
                            <i class="icon icon-checkmark"
                               *ngIf="isNestedMenuItemChecked(item.route)">
                            </i>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

    <div class="github-link-block">
        <span class="github-link-block__text">created by</span>
        <a href="https://github.com/drmrhdt"
           class="link-github">
            < <i
              class="icon icon-github">
                </i>
                drmrhdt
                />
        </a>
    </div>
</aside>

<app-modal *ngIf="isShowModalDialog"
           [isShowCloseBtn]="true"
           [modalTitle]="'Добавить'"
           [bodyComponent]="bodyComponent"
           (close)="toggleModal()">
    <ng-template #bodyComponent>
        <app-button [class]="'outlined'"
                    [title]="'Хранилище'"
                    (click)="toggleModal('vault')">
        </app-button>
        <app-button [class]="'outlined'"
                    [title]="'Книгу'"
                    (click)="toggleModal('book')">
        </app-button>
    </ng-template>
</app-modal>

<app-modal *ngIf="isCreatingVault"
           [isShowCloseBtn]="true"
           [modalTitle]="'Добавление хранилища'"
           [bodyComponent]="createVault"
           (close)="toggleModal('vault')">
    <ng-template #createVault>
        <app-vault-form (success)="toggleModal('vault')"></app-vault-form>
    </ng-template>
</app-modal>

<app-modal *ngIf="isCreatingBook"
           [isShowCloseBtn]="true"
           [modalTitle]="'Добавление книги'"
           [bodyComponent]="createBook"
           (close)="toggleModal('book')">
    <ng-template #createBook>
        <app-book-form (success)="toggleModal('book')"></app-book-form>
    </ng-template>
</app-modal>