@import '../../styles/colors.scss';

:host {
    position: fixed;
    .side-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        width: 15rem;
        height: 100vh;
        padding: 1rem;

        background-color: $color-gray-1;

        &__top-block {
            display: flex;
            flex-direction: column;
        }

        &__button {
            align-self: center;
        }

        span {
            display: block;
        }

        li {
            cursor: pointer;
        }

        .outer-menu-item {
            position: relative;

            padding: 1rem;
            padding: 0 0 1rem 0;

            &__text {
                font-weight: bold;
            }

            &__title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 0 0.5rem 0;

                border-bottom: 2px solid $color-primary;
            }
        }

        .nested-menu-item {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .icon {
                margin-right: 0.5rem;
            }

            &__text {
                padding: 0.5rem;
            }

            &:hover {
                background-color: transparentize(
                    $color: $color-menu-item-checked,
                    $amount: 0.795
                );
            }

            &.checked {
                background-color: transparentize(
                    $color: $color-menu-item-checked,
                    $amount: 0.9
                );
            }
        }
    }

    .github-link-block {
        margin: 0 auto;

        font-size: 0.9rem;

        &__text {
            display: inline !important;
            margin-right: 1rem;
        }

        .link-github {
            font-size: 1rem;
            color: inherit;

            .icon-github {
                margin-right: 0.2rem;
            }
        }
    }
}
