$color-white: #ffffff;
$color-black: #212121;
$color-transparent: transparent;
$color-gray-1: #dddddd;
$color-background: #fafafa;
$color-primary: lightsalmon;
$color-menu-item-checked: rgb(128, 128, 128);
$color-danger: #d50000;
$color-success: #00695c;
