@import './mixins.scss';
@import './shapes.scss';

.form-group {
  display: flex;
  flex-direction: column;
  margin: 0 0 1rem 0;
}

label {
  font-size: 0.8rem;
}

textarea,
input:not([type='file']) {
  padding: 0.5rem;

  border: 0;
  border-radius: $border-radius;

  @include add-shadow;
}
