@import './colors.scss';
@import './mixins.scss';

:host {
  table {
    width: 100%;

    border-collapse: collapse;

    @include add-shadow;

    thead {
      color: $color-white;

      background-color: $color-primary;
      box-shadow: 0 0 0
      transparentize($color: $color-black, $amount: 0.95),
      0 0 2px transparentize($color: $color-black, $amount: 0.86);
    }

    tr,
    td,
    th {
      padding: 1rem;
    }

    tr > th:not(:last-of-type),
    tr > td:not(:last-of-type) {
      width: 10%;
    }

    td {
      border-bottom: 1px solid $color-gray-1;
    }

    .rows:last-of-type td {
      border: none;
    }
  }

  .shelf-number {
    border-right: 1px solid $color-gray-1;

    &:last-of-type {
      border-bottom: none;
    }
  }
}

.icon {
  cursor: pointer;
}

.center-text {
  text-align: center;
}
