$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-error: "\e902";
$icon-live_help: "\e903";
$icon-vertical_align_bottom: "\e904";
$icon-vertical_align_top: "\e906";
$icon-file_download: "\e907";
$icon-file_upload: "\e908";
$icon-lens: "\e909";
$icon-navigate_before: "\e90a";
$icon-navigate_next: "\e90b";
$icon-check: "\e90c";
$icon-expand_less: "\e90d";
$icon-expand_more: "\e90e";
$icon-check_box: "\e90f";
$icon-check_box_outline_blank: "\e910";
$icon-check_circle: "\e911";
$icon-help: "\e912";
$icon-chevron-left: "\e900";
$icon-chevron-right: "\e901";
$icon-pencil: "\e905";
$icon-bin: "\e9ac";
$icon-cross: "\ea0f";
$icon-checkmark: "\ea10";
$icon-tags: "\e936";
$icon-spinner: "\e982";
$icon-download2: "\e9c5";
$icon-upload2: "\e9c6";
$icon-attachment: "\e9cd";
$icon-circle-right: "\ea42";
$icon-circle-left: "\ea44";
$icon-github: "\eab0";

