@import 'variables';

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: '#{$icomoon-font-family}';

  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?xc20vw');
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?xc20vw#iefix')
  format('embedded-opentype'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?xc20vw')
  format('truetype'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?xc20vw')
  format('woff'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?xc20vw##{$icomoon-font-family}')
  format('svg');
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  text-transform: none;

  speak: never;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-error {
  &:before {
    content: $icon-error;
  }
}
.icon-live_help {
  &:before {
    content: $icon-live_help;
  }
}
.icon-vertical_align_bottom {
  &:before {
    content: $icon-vertical_align_bottom;
  }
}
.icon-vertical_align_top {
  &:before {
    content: $icon-vertical_align_top;
  }
}
.icon-file_download {
  &:before {
    content: $icon-file_download;
  }
}
.icon-file_upload {
  &:before {
    content: $icon-file_upload;
  }
}
.icon-lens {
  &:before {
    content: $icon-lens;
  }
}
.icon-navigate_before {
  &:before {
    content: $icon-navigate_before;
  }
}
.icon-navigate_next {
  &:before {
    content: $icon-navigate_next;
  }
}
.icon-check {
  &:before {
    content: $icon-check;
  }
}
.icon-expand_less {
  &:before {
    content: $icon-expand_less;
  }
}
.icon-expand_more {
  &:before {
    content: $icon-expand_more;
  }
}
.icon-check_box {
  &:before {
    content: $icon-check_box;
  }
}
.icon-check_box_outline_blank {
  &:before {
    content: $icon-check_box_outline_blank;
  }
}
.icon-check_circle {
  &:before {
    content: $icon-check_circle;
  }
}
.icon-help {
  &:before {
    content: $icon-help;
  }
}
.icon-chevron-left {
  &:before {
    content: $icon-chevron-left;
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right;
  }
}
.icon-pencil {
  &:before {
    content: $icon-pencil;
  }
}
.icon-bin {
  &:before {
    content: $icon-bin;
  }
}
.icon-cross {
  &:before {
    content: $icon-cross;
  }
}
.icon-checkmark {
  &:before {
    content: $icon-checkmark;
  }
}
.icon-tags {
  &:before {
    content: $icon-tags;
  }
}
.icon-spinner {
  &:before {
    content: $icon-spinner;
  }
}
.icon-download2 {
  &:before {
    content: $icon-download2;
  }
}
.icon-upload2 {
  &:before {
    content: $icon-upload2;
  }
}
.icon-attachment {
  &:before {
    content: $icon-attachment;
  }
}
.icon-circle-right {
  &:before {
    content: $icon-circle-right;
  }
}
.icon-circle-left {
  &:before {
    content: $icon-circle-left;
  }
}
.icon-github {
  &:before {
    content: $icon-github;
  }
}
